/*画面最下部にfotter表示*/
html {
    min-height: 100%;
    position: relative;
}
main {
    margin-bottom: 50px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
/*ヘッダーメニューの装飾*/
ul.nav a:hover {
    background-color: #fff !important;
}
/*フッター内の配置*/
#copyRight {
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: left;
    float: left;
}
#extensionTel {
    text-align: right;
}
/*コンテンツの中のリンク文字の装飾*/
main a {
    text-decoration: underline;
}
/*テーブルの装飾*/
table {
    background-color: #fff;
}
td .table {
    background-color: #fff !important;
    margin-bottom: 0px;
}
/*横幅が均等にしたいテーブルに付けるclass*/
.tableFixed {
    width: 100%;
    table-layout: fixed;
}
/*表示枠からはみ出した文字付けるclass*/
.textOverflow {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
/*ボタンの装飾*/
.btn {
    white-space: normal !important;
    word-wrap: break-word;
}
/*パン屑リストの装飾*/
.breadcrumb {
    background-color: transparent;
    padding: 0px;
}
.breadcrumb > li + li::before {
    content: "＞ "  !important;
    color: #6c6c6c;
}
.custom1 select{
    width: 130%; /* UI分を伸ばす */
}
.custom2 select{
    width: 70%; /* UI分を伸ばす */
}
/*パネルの装飾*/
.panel-heading > .navbar {
    margin-bottom: 0;
    border-bottom: none;
}
.panel-body > .form-horizontal > .form-group {
    margin-bottom: 3px;
}
.panel-body > .form-horizontal > .btn-toolbar {
    margin-top: 15px;
}
.btn-toolbar > .btn {
    margin-left: 25px;
}
.table .form-control {
    max-height: 20px;
    margin-top:2px;
    min-width: 12px;
}